<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Python News</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="bodyMain">
    <header>
      <h1>
        <a href="/">Python News</a>
      </h1>
      <nav class="navigation">
        <a href="/dashboard">dashboard</a>
        <a href="/logout">logout</a>
        <a href="/login">login</a>
      </nav>
    </header>
    <main>
    </main>
    <footer>
      Python News - 2023
    </footer>
  </div>

</body>

</html>