* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #524656;
}

a {
  text-decoration: none;
  color: #a6c4bc;
  font-weight: bold;
}

a:hover {
  color: #778f89;
}

.navigation {
  position: relative;
  display: flex;
}

.navItems {
  position: relative;
  display: flex;
  justify-items: end;
}

#navItem {
  color: #a6c4bc;
  padding: 15px;
}

#navItem:hover {
  text-decoration: none;
  color: #778f89;
}

.bodyMain {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #524656;
}

header {
  border-bottom: 1px solid #a6c4bc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

form {
  color: #a6c4bc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-footer{
  position:relative;
  display:inline-flex;
}

#comments-text{
  position:relative;
  display:inline-flex;
  justify-content: flex-end;
  padding-right: 10px;
}

footer {
  border-top: 1px solid #a6c4bc;
  color: #a6c4bc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
