<!--Comments grid-->
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Comment by username on date </h5>
          <p class="card-text">Comment user</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Comment by username on date</h5>
          <p class="card-text">Comment user</p>
        </div>
      </div>
    </div>
  </div>


