 <!-- Post Card-->
 <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><a href="{{post.post_url}}" target="_blank">{{post.title}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">by {{post.user.username}}</h6>
        <p class="card-text">News Description</p>
         <!--How many comments-->
        <a href="#" class="card-link">
            <span class="material-icons">
                chat
            </span>
        </a>
         <!--How many likes-->
        <a href="#" class="card-link">
            <span class="material-icons">
                favorite
            </span>
        </a>
        <!--Link to news-->
        <a href="{{post.post_url}}" target="_blank" class="card-link">
            <span class="material-icons">
                link
            </span>
        </a>
    </div>
</div>