{% extends "layout/main.html" %}
{% block body %}
<!--Edit Post form-->
<div>
    <a href="/dashboard"><span class="material-icons">account_circle</span> Back to Dashboard</a>
    <form>
        <div class="form-row form-group">
            <div class="col-6">
                <label for="titleInput">Title</label>
                <input type="text" class="form-control" id="titleInput" placeholder="{{post.title}}">
                <span>({{post.post_url|format_url}})</span>
                <p> {{post.vote_count|format_plural('likes')}} by you on {{post.created_at|format_date}}</p>
                <button type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col-6">
                <label for="commentInput">Comment</label>
                <textarea class="form-control" id="commentInput" rows="3"
                    placeholder="enter comment"></textarea>
                <button type="button" class="btn btn-secondary">Add Comment</button>
            </div>
        </div>
    </form>
</div>

{% with comments=post.comments %}
  {% include "partials/comments.html" %}
{% endwith %}

{% endblock %}