{% extends "layout/main.html" %}

{% block body %}
{% include "partials/postInfo.html" %}

<!--Single Post-->
{% if loggedIn == True %}
<form class="commentForm">
    <div class="form-row form-group">
        <div class="col-6">
            <label for="commentInput">Comment</label>
            <textarea class="form-control" name="commentInput" rows="3"
                placeholder="enter comment"></textarea>
            <button type="submit" class="btn btn-success">
                <span class="material-icons">
                    done
                </span>
            </button>
            <button type="button" class="btn btn-danger" id="like-button">
                <span class="material-icons">favorite_border</span>
            </button>
        </div>
    </div>
</form>
{% endif %}

{% with comments=post.comments %}
  {% include "partials/comments.html" %}
{% endwith %}

{% if loggedIn == True %}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{% endif %}

{% endblock %}