{% extends "layout/main.html" %}

{% block body %}
{% include "partials/postEdit.html" %}

<!--Single Post-->
{% if loggedIn == True %}
<h3 class="m-3 ml-5" id="headerComment">
    Add a Comment or give a Like
    <span class="material-icons" id="like-button">
        favorite
    </span>
</h3>
<form class="commentForm m-3">
    <div class="form-row form-group">
        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
            <label for="commentInput" class="ml-1">Comment</label>
            <textarea class="form-control ml-1" name="commentInput" rows="3" placeholder="enter comment"></textarea>
            <button type="submit" class="btn btn-success m-1 px-2 py-1" style="font-size: 5px">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </div>
    </div>
</form>
{% endif %}


{% with comments=post.comments %}
{% include "partials/comments.html" %}
{% endwith %}

{% if loggedIn == True %}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{% endif %}

{% endblock %}